.navbar{
    background-color: #563D7C;   
}
h1{
    font-size: 70px;
    color: #7952B3
}
.nav-item{
    color: #CBBDE2;
}
.o{
    padding: 10px 50px;
    margin-left: 0px;
    margin-right: 20px;
    font-size: 20px;
}
.col-4{
    background-color: #F8F9FA;
}
.bd-footer{
    color: #6c757d;
    font-size: 85%;
    background-color: #f7f7f7;
}
.container{
    margin-bottom: 10%;
    margin-top: 10%;
}
.q{
    color: #645570;
}

